*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.menu-bar
{
    background-image: linear-gradient(to right, #2C14C6, #BFE4FC);
}

.navbar-nav
{
    text-align: right;
}

.dropdown-menu
{
    text-align: right;
}

.menu-bar .navbar-toggler 
{
    padding-right: 0;
    outline: none;
    border: none;
}

.dropdown-menue show
{
    padding-right: 0;
    outline: none;
    border: none;
}

